body{
    background-color: #fff7ea;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin-top: 20px;
}
header nav ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
    
}
.main-btn {
    border: none;
    padding: 10px 20px;
    border-radius: 100px;
    background-color: #fff7ea;
    font-size: 1.3rem;
    font-weight: 600;
    border: 1px solid #000;
}
.home{
    width: 95%;
    min-height: 100vh;
    background: url('https://aximo-react.vercel.app/assets/hero-bg-lh5dmqak.png')no-repeat center;
    background-size: cover;
    border-radius: 20px;
    margin: 0px 45px 0px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.left{
    padding: 10px;
    margin:70px 0px 0px 30px;
}
 p{
    font-size: 24px;
    font-weight: 600;
    color: #ff8064;
}
.left h1{
    font-size: 5rem;
    font-weight: 700;
    color: #fff7ea;
}
.left h1+p{
    text-align: justify;
    color: #fff7ea;
    margin-top: 8px;
}
.left button{
    margin-top: 25px;
}
 .btn{
  padding: 20px;
  border-radius: 100px;
  border:none;
  background-color: blue;
  font-size: 1rem;
  color: #fff;
cursor: pointer;
transition: linear;
font-weight: 500;
}
 .btn:hover{
    background-color:#ff8064 ;
}
.left .special-btn{
    border: none;
    padding: 18px 35px;
  border-radius: 100px;
  font-size: 1rem;
    background-color: transparent;
    color: #fff;
    border:1px solid #fff;
    font-weight: 500;
     margin-left: 40px;
     cursor: pointer;
     position: relative;
}
.special-btn::after{
    content: 'View all projects';
    position:absolute;
    bottom:-40px;
    left:20%;
    visibility: hidden;
}

.special-btn:hover::after{
   transform:translateX(-2%) translateY(-265%);
}
.right{
    position: relative;
}
.right .i1{
    position: absolute;
    top: 430px;
    right:200px;
    animation: animate 18s infinite;
}
.right .i2{
    position: absolute;
    top: 500px;
    right:270px;
    
}
@keyframes animate{
    0%{
        transform:rotate(-360deg); 
    }
    100%{
        transform: rotate(360deg);
    }
}
.mission{
    text-align: center;
    margin: 85px 90px;
    font-size: 48px;
font-family:Arimo, sans-serif;
position: relative;

}
.mission h1{
    color: #191931;
}
.mission p{
    margin-bottom: 10px;
    font-size: 30px;
}
.img img{
    width: 220px;
    height: 140px;
position: absolute;
top:100%;
left: 88%;
animation:animation 6s infinite ease-in-out normal running;
}
@keyframes animation{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-40px);
    }
    100%{
        transform: translateX(0%);
    }
}
.marquee{
    background-color: #191931;
    width: 95%;
    height: 300px;
    text-align: center;
    margin: 210px 40px;
    border-radius: 30px;
}
.marquee p{
    padding-top: 70px;
    color: #fff7ea;
    padding-bottom: 70px;
}
.marquee img{
    padding-right: 50px;
}
.services{
width: 95%;
height: 900px;

margin: auto;
padding: 50px;
}
.heading{
    display: flex;
    justify-content: space-between;
}
.left1 h1{
    font-size: 70px;
    font-weight: 700;
    color: #191931;
}
.right1 .btn{
margin-top: 110px;
}
#grids{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 80px;
}
#grids div{
    width: 400px;
    height: 330px;
    
    padding: 25px;
    border-radius: 20px;
    border: 1px solid #191931;
}
#grids div p{
margin:15px 0px;
color: #191931;
}
#grids div h2{
    margin-top:15px;
    font-size: 28px;
color: #191931;
}
#grids div i .fa-arrow-right-long:hover{
background-color: #ff8064;
}