body{
    background-color: #fff7ea;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: -20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin-top: 20px;
    background-color: #fff7ea ;
    z-index: 99;
}
header nav ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
    
}
.main-btn {
    border: none;
    padding: 10px 20px;
    border-radius: 100px;
    background-color: #fff7ea;
    font-size: 1.3rem;
    font-weight: 600;
    border: 1px solid #000;
}
.home{
    width: 95%;
    height: 100vh;
    background: url('https://aximo-react.vercel.app/assets/hero-bg-lh5dmqak.png')no-repeat center;
    background-size: cover;
    border-radius: 20px;
    margin: 0px 45px 0px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.left{
    padding: 10px;
    margin:70px 0px 0px 30px;
}
 p{
    font-size: 24px;
    font-weight: 600;
    color: #ff8064;
}
.left h1{
    font-size: 5rem;
    font-weight: 700;
    color: #fff7ea;
}
.left h1+p{
    text-align: justify;
    color: #fff7ea;
    margin-top: 8px;
}
.left button{
    margin-top: 25px;
}
 .btn{
  padding: 20px;
  border-radius: 100px;
  border:none;
  background-color: blue;
  font-size: 1rem;
  color: #fff;
cursor: pointer;
transition: linear;
font-weight: 500;
}
 .btn:hover{
    background-color:#ff8064 ;
}
.left .special-btn{
    border: none;
    padding: 18px 35px;
  border-radius: 100px;
  font-size: 1rem;
    background-color: transparent;
    color: #fff;
    border:1px solid #fff;
    font-weight: 500;
     margin-left: 40px;
     cursor: pointer;
     position: relative;
}
.special-btn::after{
    content: 'View all projects';
    position:absolute;
    bottom:-40px;
    left:20%;
    visibility: hidden;
}

.special-btn:hover::after{
   transform:translateX(-2%) translateY(-265%);
}
.right{
    position: relative;
}
.right .i1{
    position: absolute;
    top: 430px;
    right:200px;
    animation: animate 18s infinite;
}
.right .i2{
    position: absolute;
    top: 500px;
    right:270px;
    
}
@keyframes animate{
    0%{
        transform:rotate(-360deg); 
    }
    100%{
        transform: rotate(360deg);
    }
}
.mission{
    text-align: center;
    margin: 85px 90px;
    font-size: 48px;
font-family:Arimo, sans-serif;
position: relative;

}
.mission h1{
    color: #191931;
}
.mission p{
    margin-bottom: 10px;
    font-size: 30px;
}
.img img{
    width: 220px;
    height: 140px;
position: absolute;
top:100%;
left: 88%;
animation:animation 6s infinite ease-in-out normal running;
}
@keyframes animation{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-40px);
    }
    100%{
        transform: translateX(0%);
    }
}
.marquee{
    background-color: #191931;
    width: 95%;
    height: 300px;
    text-align: center;
    margin: 210px 40px;
    border-radius: 30px;
}
.marquee p{
    padding-top: 70px;
    color: #fff7ea;
    padding-bottom: 70px;
}
.marquee img{
    padding-right: 50px;
}
.services{
width: 95%;
height: 900px;

margin: auto;
padding: 50px;
}
.heading{
    display: flex;
    justify-content: space-between;
}
.left1 h1,.right2 h1{
    font-size: 70px;
    font-weight: 700;
    color: #191931;
}
.right1 .btn{
margin-top: 110px;
}
#grids{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 80px;
}
#grids div{
    width: 400px;
    height: 330px;
    
    padding: 25px;
    border-radius: 20px;
    border: 1px solid #191931;
}
#grids div p{
margin:15px 0px;
color: #191931;
}
#grids div h2{
    margin-top:15px;
    font-size: 28px;
color: #191931;
}
#grids div a{
    color: #191931;
}
#grids div a:hover{
color: #ff8064;
}
.choice{
    width: 90%;
    height: 550px;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 55px;
    margin-top: 15%;
    padding: 20px;
    position: relative;
}
.choice .img1{
position: absolute;
top: -60px;
left: -70px;
animation:animation 6s infinite ease-in-out normal running;
}

.left2 img{
border-radius: 20px;
}
.right2{
    margin-top: 10px;
}
.right2 .pari span{
font-weight: 700;
color:#191931;
margin-top: 10px;
}
.right2 .pari,.right2 h1+p{
    color: #191931;
    margin-top: 10px;
}
.division{
    width: 95%;
    height: 300px;
    
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    
    
}
.first,.second,.third{
    height: 230px;
    display: flex;
    align-items: start;
    /* justify-content: center; */
    gap: 20px;
    padding: 20px;
    
    border-top: 2px solid #585656;
}
.l3{
    width: 10%;
    height: 44px;
    border:1px solid #000;
    border-radius: 100px;
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    
}
.r3{
    flex: 1;
    margin-top: 20px;

}
.r3 p{
font-size:20px;
color: #191931;
}
.r3 p span{
    font-size: 24px;
}
.first:hover .l3,.second:hover .l3,.third:hover .l3{
color:#fff;
background-color: #ff8064;
border: none;

}
.first:hover,.second:hover,.third:hover{
    border-top: 2px solid #ff8064;
}
.creation{
width: 95%;
min-height: 100vh;
background-color: #191931;
text-align: center;
margin: 20px 40px;
border-radius: 30px;
padding: 30px 0px;
position: relative;


}
.creation h1{
    margin: 20px 0px;
    font-size: 4rem;
    font-weight: 700;
    color: #fff7ea;
    
}
.parts{
    display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
gap: 30px;
}
.l4 img,.r4 img{
    border-radius: 20px;
}
.l4{
flex: 1;
text-align: left;
}
.r4{
flex: 1;
text-align: left;
}
.l4 h3 a,.r4 h3 a{
text-decoration: none;
font-size: 30px;
color: #fff7ea;
}
.l4 p,.r4 p{
    color: #fff7ea;
    font-size:22px ;
    margin-top: 10px;
    margin-bottom: 20%;
}
.divider{
    width: 90%;
    height: 4px;
    background-color: #585656;
    margin-left: 70px;
    position: absolute;
    bottom: 10%;
}
.success{
    width: 95%;
    height: 500px;
    margin: auto;
    padding: 50px;
    margin-top: 10%;
    position: relative;
}
.success .right1 img{
    position: absolute;
    right:50px;
    top: 0px;
    animation:animate 6s infinite ease-in-out normal running;
}
@keyframes animate{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateY(-40px);
    }
    100%{
        transform: translateX(0%);
    }
}
.story1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
.small-div{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.lef5{
width: 950px;
height: 330px;
background-color: #ff8064;
color: #fff7ea;
text-align: center;
padding: 70px 0px;
border-radius: 10px;
}
.story1 .lef5 h1{
   font-size:80px;
}
.lef5 p{
    color:#fff7ea;
}
.rig5{
height:330px; 
padding: 30px;
border-radius: 10px;
border:2px solid #191931;
}
.rig5 p{
    color: #191931;
    margin-top: 10px;
}
.small-div .lef img{
border-radius: 100px;
border:2px solid #000;
}
.small-div .rig h2{
    color:#191931;
}
.small-div .rig p{
    color:#191931;
    font-size: 20px;
}
.images{
    width: 100%;
    height: 300px;
    background-color:rgb(19, 189, 189);
    margin-top: 40%;
    display: flex;
    overflow: hidden;
}
.images img{ 
    display: block; 
}
/* .after-img{
    visibility: hidden;
} */
/* .images img .after-img::after{
    content: '';
} */
.images img:hover {
    color: #ff8064;
    /* visibility: visible; */
}

footer{
    background-color: #202040;
    width: 100%;
    height: 100vh;
}
.mail-content{
    width: 95%;
    height: 200px;
    background-color:#191931c1;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}
.mail-content input{
    width: 80%;
    padding: 20px;
    margin-top: 45px;
    border-radius: 100px;
    border: none;
    border: 2px solid #fff;
    background-color: transparent;
    margin-left: 25px;
    outline: none;
    cursor: pointer;
}
.mail-content input::placeholder{
    font-size: 18px;
    color: #fff;
}
.mail-content button {
    margin-left: 40px;
}
.mail-content input:focus-visible{
    border: 2px solid #ff8064;
    transition: 5s;
}
.main-footer{
    padding: 40px;
    width: 90%;
    margin: auto;
    height: 400px;
    margin-top: 40px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.footer-content p{
margin: 20px 0px;
color: #fff7ea;
}
.footer-content a i{
    color: #fff;
    font-size: 20px;
    margin-right: 20px;
    border: 2px solid #000;
    padding: 15px;
    border-radius: 100px;
}
.footer-content a i:hover{
background-color: #ff8064;
color: #fff;
border: none;
}
.footer-column{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap:20px;
}
.footer-column .column1{
    margin-right: 60px;
}
.footer-column .column1 h2{
color: #fff7ea;
margin-bottom: 20px;
}
.footer-column ul li a{
    text-decoration: none;
    color: #fff7ea;
    font-size: 20px;
    cursor: pointer;
    transition: 1s;
}
.footer-column ul li{
    margin-bottom: 19px;
}
.footer-column ul li a:hover{
    color: #ff8064;
}
